<div class="container">
  <div class="border col-7">
    <br>
    <h2>お客様新規登録</h2>
    <br>
    <div class="row">
      <div class="col-md">
        <%= form_with model:@customer, url: customers_path, local: true do |f| %>
          <div class="form-group">
            <div class='form-text-wrap'>
              <%= f.label :name, "お客様名" %>
              <span class="indispensable text-danger">必須</span>
            </div>
            <%= f.text_field :name, class: "form-control", id:"name", placeholder: "山田 太郎" %>
          </div>
          <div class="form-group">
            <div class='form-text-wrap'>
              <%= f.label :name_kana, "フリガナ" %>
              <span class="indispensable text-danger">必須</span>
            </div>
            <%= f.text_field :name_kana, class: "form-control", placeholder: "ヤマダ タロウ" %>
          </div>
          <div class="form-group">
            <div class='form-text-wrap'>
              <%= f.label :coming_date, "最終来店日" %>
              <span class="indispensable text-danger">必須</span>
            </div>
            <!-- ここにカレンダー表示用のテキストボックスを追加 -->
            <%= f.text_field :coming_date, class: "form-control", id: "coming_date" %>
          </div>
          <!-- bootstrap-datepickerのjavascriptコード -->
          <script>
            $(document).ready(function() {
              $('#coming_date').datepicker({
                language:'ja'
                format: 'yyyy/mm/dd'
              });
            });
          </script>
          <!-- 生年月日の入力フィールド -->
          <div class="form-group">
            <%= f.label :birth_date, "お誕生日" %>
            <div class="row">
              <div class="col">
                <%= f.text_field :birth_year, class: "form-control", placeholder: "年を入力" %>
              </div>
              <div class="col">
                <%= f.text_field :birth_month, class: "form-control", placeholder: "月を入力" %>
              </div>
              <div class="col">
                <%= f.text_field :birth_day, class: "form-control", placeholder: "日を入力" %>
              </div>
            </div>
          </div>
          <div class="form-group">
            <%= f.label :company, "会社名" %>
            <%= f.text_field :company, class: "form-control", placeholder: "株式会社 ○○" %>
          </div>
          <div class="form-group">
            <%= f.label :phone, "電話番号" %>
            <%= f.text_field :phone, class: "form-control", placeholder: "09012345678",maxlength:"11" %>
          </div>
          <div class="form-group">
            <%= f.label :address, "住所" %>
            <%= f.text_field :company, class: "form-control", placeholder: "東京都〇〇市〇〇区〇〇〇町X-X-X 渋谷ビル1 XXX号室" %>
          </div>
          <div class="form-group">
            <%= f.label :friend, "お連れ様" %>
            <%= f.text_field :companion, class: "form-control", placeholder: "花子" %>
          </div>
          <div class="form-group">
            <%= f.label :server, "担当" %>
            <%= f.text_field :server, class: "form-control", placeholder: "佐藤" %>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label for="memo_text">メモ</label>
                <textarea id="memo_text" class="form-control" rows="3"></textarea>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label>オプション：</label>
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" id="option1" value="領収書名">
                  <label class="form-check-label" for="option1">領収書名</label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" id="option2" value="アレルギー">
                  <label class="form-check-label" for="option2">アレルギー</label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" id="option3" value="その他">
                  <label class="form-check-label" for="option3">その他</label>
                </div>
              </div>
            </div>
          </div>
          <!-- javascriptコード -->
          <script>
            $(document).ready(function() {
              // チェックボックスの変更を監視
              $('input[type="checkbox"]').change(function() {
                // 選択されたオプションをテキストエリアに表示
                var selectedOptions = [];
                $('input[type="checkbox"]:checked').each(function() {                        
                  selectedOptions.push($(this).val());
                });
                $('#memo_text').val(selectedOptions.join(', '));
              });
            });
          </script>
        <% end %>
      </div>
    </div>
    <div class="row center-block text-center">
      <div class="col-1">
    </div>
    <div class="col-5">
      <button type="button" class="btn btn-outline-secondary btn-block">閉じる</button>
    </div>
    <div class="col-5">
      <button type="button" class="btn btn-outline-primary btn-block">新規登録</button>
    </div>
  </div>
</div>