<%= form_with model: @user, url: user_session_path, class: 'registration-main', local: true do |f| %>

<div class="form-wrapper">
  <h1>Log In</h1>
  <div class='login-flash-message'>
    <%= flash[:notice] %>
    <%= flash[:alert] %>
  </div>
  <div class="form-item">
    <label for="email"></label>
    <%= f.email_field :email, id:"email", placeholder:"Email" %>
  </div>
  <div class="form-item">
    <label for="password"></label>
    <%= f.password_field :password, id:"password", placeholder:"Password" %>
  </div>
  <div class="button-panel">
    <%= f.submit "ログイン", class:"button" %>
  </div>
  <div class="form-footer">
    <%= link_to "新規登録はこちら", new_user_registration_path, class: "form-footer-link" %>
  </div>
</div>
<% end %>
